<div class="container">
    <h1>Welcome!</h1>
    <div class="container">
        <table class="table">
            <tr>
                <td>FIRST NAME</td>
                <td>{{first_name}}</td>
            </tr>
            <tr>
                <td>LAST NAME</td>
                <td>{{last_name}}</td>
            </tr>
            <tr>
                <td>EMAIL ADDRESS</td>
                <td>{{email}}</td>
            </tr>
        </table>
    </div>
</div>
